<div class="card-columns">
  <% @user_subjects.each do |user_subject| %>
    <%= link_to root_path do %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= user_subject.name %></h4>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= user_subject.code %>
          </h6>
          <p class="card-text">Input teacher here</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div> 
