<% @user_subjects.each do |user_subject| %>
<ul class="media-list">
  <li class="media">
    <%= link_to image_tag("placeholder.png", class: "media_object"), root_path, class: 'pull-left' %>
    <div class="media-body">
      <h4 class="media-heading"><%= user_subject.name %></h4>
    </div>
  </li>
</ul>
<% end %>
 
