<%= @subject_grades.each do |subject_grade| %>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        <%= subject_grade.student.first_name %>
      </h3>
    </div>
  </div>
<% end %>

<% console %>
