<div id="card-columns" class="card-columns">
  <% @teaching_assignments.each do |teaching_assignment| %>
    <%= link_to subject_assignment_path(id: teaching_assignment, block: teaching_assignment.block) do %>
      <div class="card">
        <div class="card-body">
        <h4 class="card-title"><%= teaching_assignment.subject.name %></h4>
        <p class="card-text"><%= teaching_assignment.block.complete_block_name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

