<div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "Lectures", "#", class: "nav-link" %>
      <%= link_to "Assignments", "#", class: "nav-link" %>
      <% if current_user.has_role? :student%>
        <%= link_to "My Grade Summary", "#", class: "nav-link" %>
      <% elsif current_user.has_role? :teacher%>
        <%= link_to "Grade Students", "#", class: "nav-link" %>
      <% end %>

    </li>
  </ul>
</div>
