<div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "Lectures", "#", class: "nav-link" %>
      <%= link_to "Assignments", "#", class: "nav-link" %>
      <%= link_to "My Grade Summary", "#", class: "nav-link" %>
    </li>
  </ul>
</div>
